<p>dog-profile works!</p>
<div *ngFor="let dog of dogs">
    <p>{{ dog.name }} - {{ dog.breed }}</p>
    <!-- <img src="{{dog.imageUrl1}}" alt="">
    <img src="{{dog.imageUrl2}}" alt=""> -->
    <img src="{{dog.imageUrl3}}" alt="">
    <div *ngIf="dog" class="dog-details">
        <h2>{{ dog.name }}</h2>
        <h5>{{dog.breed}}</h5>
        <h5>{{dog.bio}}</h5>
        
        <!-- Other dog details -->
        
        <!-- p-galleria to display dog images -->
        <p-galleria 
    [value]="images" 
    [responsiveOptions]="responsiveOptions" 
    [containerStyle]="{ 'max-width': '640px' }" 
    [numVisible]="5">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.itemImageSrc" style="width: 100%;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.thumbnailImageSrc" />
            </div>
        </ng-template>
</p-galleria>
       
      </div>
    <!-- Display other dog properties as needed -->
    <button (click)="editDog(dog)">Edit</button>
    <button (click)="deleteDog(dog.id)">Delete</button>
  </div>